name: Standard CI
on: push
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: checkout latest code
              uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: '18'
            
            - name: Install dependencies
              run: npm install

            - name: Run lint
              run: npm run lint

            - name: Build project
              run: npm run build

    test:
        name: Test
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: checkout latest code
              uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: '18'
            
            - name: Install dependencies
              run: npm install

            - name: Run tests
              run: npm run test

    deploy:
        name: Deploy
        runs-on: ubuntu-latest
        needs: test
        steps:
            - name: checkout latest code
              uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: '18'
            
            - name: Install dependencies
              run: npm install

            - name: Run Deploy
              run: npm run deploy

            